<div id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    
    <!-- Container (The Band Section) -->
    <div id="band" class="container text-center">
        <h3>WELCOME TO FIND YOUR OTHER ½ </h3>
        <p><em>A matrimonial site that you will never visit again!</em></p>
        <p>Welcome to "Find Your Other Half," the matrimonial website where love is just a click away and algorithms do
            the matchmaking for you!

            Think of us as your personal Cupid, but instead of a bow and arrow, we have a database of eligible bachelors
            and bachelorettes. Our state-of-the-art technology analyzes your likes, dislikes, and preferences to find
            the perfect match for you.

            Gone are the days of awkward family introductions and blind dates set up by your nosy neighbor.</p>
        <br>
    </div>

    <!-- Container (TOUR Section) -->
    <div id="tour" class="bg-1">
        <div class="container">
            <h3 class="text-center">MAKE IT YOUR LAST PLATFORM</h3>
            <ul class="list-group center text-center">
                <li class="list-group-item">ENTER <span class="label label-danger">DETAILS</span></li>
                <li class="list-group-item">GET <span class="label label-danger">MATCHED</span></li>
                <li class="list-group-item">GET MARRIED</li>
            </ul>
        </div>
    </div>