<section class="h-100 h-custom" style="background-color: #fafffe;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                        class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                        alt="Profile Photo">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">SIGN IN</h3>
                        <form class="px-md-2" (ngSubmit)="submit_form()" enctype='multipart/form-data'>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="username">Username</label>
                                <input type="text" [(ngModel)]="username" name="username" class="form-control" required />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="name">Password</label>
                                <input type="password" [(ngModel)]="password" name="password" class="form-control"
                                    required />
                            </div>
                            <button type="submit" class="btn btn-success btn-lg mb-1">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>